

h1 {color: #00a989;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position:relative;
    bottom: 150px;
    font-family: 'Open Sans', sans-serif}

p {color: #00a989;
  font-family: 'Karla', sans-serif;
  font-size: 15px;}

p a {color: #00a989;
    font-family: 'Karla', sans-serif;
    font-size: 15px;}

h6 {font-family: 'Karla', sans-serif;
    font-size: 15px;}
